@font-face {
  font-family:'SilentReaction';
  src:url('./SilentReaction.ttf') format('truetype');

  font-weight:600;
  font-style:normal;
}

.hello {
  color: red;
  background: url('./bear-face.png');
  font-family: 'SilentReaction';
}
